<section id="about" class="section-padding text-light" style="background-color: #0d1117;">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h2 class="section-title">About Me</h2>
            <div class="section-divider"></div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="about-card d-flex flex-column flex-md-row align-items-center p-4 py-3 rounded-4 w-90 ">
                    <div class="col-md-7 mb-4 mb-md-0">
                        <h3 class="mb-3 text-primary">Data Science Consultant</h3>
                        <p class="lead">
                            I help turn cutting-edge research into practical GenAI solutions—fine-tuning LLMs, building
                            RAG pipelines, and deploying cloud-native apps.
                            My work focuses on intelligent systems for education and healthcare, blending innovation
                            with real-world impact.
                            <br /><br />
                            With a background in data science and software engineering, I specialize in transforming
                            ideas into scalable, user-centric applications.
                            Whether it’s enhancing learning outcomes through AI tutors or streamlining clinical
                            workflows with NLP, I’m passionate about creating tech that matters.
                        </p>
                        <div class="mt-4">
                            <a href="#contact" class="btn btn-primary me-3">Hire Me</a>
                            <a href="assets/resume.pdf" class="btn btn-outline-light" download>
                                <i class="fas fa-download me-2"></i>Download CV
                            </a>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center d-flex align-items-center justify-content-center">
                        <div class="about-image-container mx-auto">
                            <img src="static/img/aboutme.png" alt="Data Consultant"
                                class="img-fluid rounded-circle about-image">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>